<div class="content">

  <p class="title">Account Settings</p>
  <div class="top-inputs">
    <div class="first-n">
      <p>First Name</p>
      <input class="input" placeholder="First name" type="text">
    </div>
    <div class="last-n">
      <p>Last name</p>
      <input class="input" placeholder="Last  name" type="text">
    </div>
    <div class="email">
      <p>Email</p>
      <div class="email-wrap">
        <div class="email-svg">
          <img class="svg" src="../../assets//svg//at.svg" alt="">
        </div>
        <div>
          <input class="input email-input" placeholder="Email" type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-inputs">
    <div class="city">
      <p>City</p>
      <input class="input" placeholder="City" type="text">
    </div>
    <div class="state">
      <p>State</p>
      <input class="input" placeholder="State" type="text">
    </div>
    <div class="zip">
      <p>Zip
      </p>
      <input class="input" placeholder="Zip" type="text">
    </div>
  </div>
  <div class="btn-wrap">
    <button class="button">Update</button>
  </div>
</div>
