.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px;
}

hr {
  margin-top: 30px;
}

.product__search {
  position: relative;
  left: 48%;
  padding: 0px 10px;
}
